.hero {
  position: relative;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

.hero img {
  width: 100%;
  height: auto;
  max-height: 524px;
  object-fit: cover;
  display: block;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.hero-content h2 {
  width: 672px;
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 1rem auto;
}

.hero-content p {
  width: 672px;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 auto 2rem auto;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s, color 0.2s;
}

.button:first-child {
  background-color: white;
  color: black;
}

.button-secondary {
  background-color: black;
  color: white;
}

@media (max-width: 900px) {
  .solution-card { 
    max-width:unset;
  }
}

@media (max-width: 975px) {
  .hero img {
    height: 480px;
    object-fit: cover;
  }

  .hero-content {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hero-content h2 {
    width: 90%;
    font-size: 2rem;
  }

  .hero-content p {
    width: 90%;
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .button {
    width: 80%;
    max-width: 250px;
  }
}